<?xml version="1.0" encoding="UTF-8" ?>
<Response>
  <Say>Welcome to StreamBridge. Now connecting you to the live audio from your PC.</Say>
  <Redirect method="POST">{{ hostname }}/play_stream</Redirect>
</Response>
