{% include "_preamble.xml.j2" %}
<Response>
  <Say>Welcome to StreamBridge.</Say>
  <Say>Now connecting you to the live audio from your PC.</Say>
  <!-- Hewoooooo -->
  <Redirect method="POST">{{ hostname }}/play_stream</Redirect>
</Response>
